<link data-sly-test.stylaCanonical="${properties.stylaCanonical}" rel="canonical" href="${stylaCanonical}" />
<meta data-sly-test.stylaRobots="${properties.stylaRobots}" name="robots" content="${stylaRobots}" />
<meta data-sly-test.stylaOgTitle="${properties.stylaOgTitle}" property="og:title" content="${stylaOgTitle}" />
<meta data-sly-test.stylaOgType="${properties.stylaOgType}" property="og:type" content="${stylaOgType}" />
<meta data-sly-test.stylaOgUrl="${properties.stylaOgUrl}" property="og:url" content="${stylaOgUrl}" />
<meta data-sly-test.stylaOgImage="${properties.stylaOgImage}" property="og:image" content="${stylaOgImage}" />
<meta data-sly-test.stylaOgImageWidth="${properties.stylaOgImageWidth}" property="og:image:width" content="${stylaOgImageWidth}" />
<meta data-sly-test.stylaOgImageHeight="${properties.stylaOgImageHeight}" property="og:image:Height" content="${stylaOgImageHeight}" />
<meta data-sly-test.stylaTwitterTitle="${properties.stylaTwitterTitle}" property="twitter:title" content="${stylaTwitterTitle}" />

<link rel="dns-prefetch" href="//client-scripts.styla.com" />
<link rel="dns-prefetch" href="//redpanda.styla.com" />
<link rel="dns-prefetch" href="//styla-prod.us.imgix.net" />
