<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" />
<sly data-sly-call="${templates.placeholder @ isEmpty = !wcmmode.disabled}">
    Contenthub StylaMagazine
</sly>
<div id="stylaMagazine">
    <div data-sly-use.attrs="${'getAttributes.js' @ names = ['seobody']}"
         data-sly-list="${attrs}"
         data-sly-unwrap>
        ${attrs[item] @ context='html'}
    </div>
    <script>
        if ( !( window.location.host.indexOf( 'google' ) > -1 ) )
        {
            document.getElementById('stylaContentSEO').parentNode.removeChild(document.getElementById('stylaContentSEO'));

            var elements = document.querySelectorAll("[data-no-hydration='true']");
            for (var i = 0; i < elements.length; ++i) {
                var last, node = elements[i];
                while (last = node.lastChild) {
                    node.removeChild(last);
                }
            }
        }
    </script>
</div>

